body {
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}
.container {
    width: 100%;
    max-width: 450px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.input-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
}
button {
    padding: 5px 10px;
    font-family: 'Space Mono', monospace;
    background: #007F73;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background: #15B392;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #FFF8E8;
}
.actions {
    display: flex;
    gap: 5px;
}
.actions button {
    background: #295F98;
    color: #fff;
}
.actions button.delete {
    background: #C96868;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 10px
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #555;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    background-color: #F7EED3;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.logo {
    width: 40px; /* Sesuaikan ukuran logo */
    height: 40px; /* Sesuaikan ukuran logo */
    margin-right: 20px; /* Jarak antara logo dan teks */
}

h1 {
    margin: 0;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.tab-button {
    flex: 1;
    padding: 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
}

.tab-button.active {
    background: #344CB7;
    color: white;
}

.hidden {
    display: none;
}

.search-container {
    margin-top: 10px;
    display: flex;
    text-align: center;
}

#search-input {
    width: 100%;
    padding: 8px;
    font-size: 12px;
    font-family: 'Space Mono', monospace;
    border-radius: 4px;
}

.todo-list {
    max-height: 300px; /* Tentukan tinggi maksimum */
    overflow-y: auto; /* Menambahkan scroll vertikal */
    padding: 0;
    list-style: none;
    margin-top: 15px;
}

